{{ partial "header" . }}
<div class="front-page">
  {{ if isset . "Content"}}
  <div class="row page-content">
    <div class="col s12 secondary-color-text content-text">
      {{ .Content }}
    </div>
  </div>
  {{ end }}
  {{ $term := .Site.GetPage "section" "terms" }}
  {{ $tourn := .Site.GetPage "section" "tournament" }}
  {{ if isset . "Content"}}
  <hr>
  {{ end }}
  {{ with .Site.GetPage "section" "front_page" }}
  {{ range $index, $s := .Pages }}
  {{ if $index }}
  <hr>
  {{ end }}
  <div class="row page-content">
    <a class="anchor" id="{{ $s.Params.anchor|default $s.Title|urlize}}"></a>
    <p class="title center-align" >{{ $s.Title }}</p>
    {{ with $s.Content }}
    <div class="details context-text">
      {{ . }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ if (isset $term.Data "Pages") or (isset $tourn.Data "Pages")  }}
  <hr>
  {{ end }}
  {{ end }}
  {{ with $term }}
  <div class="row page-content">
    <a class="anchor" id="history"></a>
    <p class="title center-align" >Hall of Fame!</p>
    <div class="details hall-of-fame">
    <div class="carousel carousel-slider " data-indicators="true">
      {{ range $index, $s := .Pages.ByDate.Reverse }}
      <a class="carousel-item">
        <div class="center-align hallOfFame context-text">
          <div class="row">
          <span class="title">{{ $s.Title }}</span>
        </div>

          {{ range $indox, $t := .Params.officers }}
          <div class="row primary-color-text">
            <div class="col s6 right-align">
              <span>{{ $t.title }}: </span>
            </div>
            <div class="col s6 left-align">
              <span style="text-decoration: underline;">{{ $t.participant}}</span>
            </div>
          </div>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>


  </div>
  {{ if isset $tourn.Data "Pages" }}
   <hr>
  {{ end }}
  {{ end }}

  {{ with $tourn }}

  <div class="row page-content">
    <a class="anchor" id="tournaments"></a>
    <p class="title center-align" >Tournament Results!</p>
    <div class="details tournament">
    <div class="carousel carousel-slider " data-indicators="true">
      {{ range $index, $s := .Pages.ByDate.Reverse }}
      <a class="carousel-item">
        <div class="center-align hallOfFame context-text">
          <div class="row">
          <span class="title">{{ $s.Title }} Tournament Champions</span>
        </div>
        <div class="row">
          <span class="title">{{ $s.Date.Format "1/2/2006" }}</span>
        </div>

          {{ range $indox, $t := .Params.results }}
          <div class="row primary-color-text">
            <div class="col s6 right-align">
              <span>{{ $t.title }}: </span>
            </div>
            <div class="col s6 left-align">
              <span style="text-decoration: underline;">{{ $t.participant}}</span>
            </div>
          </div>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>


  </div>
  {{ end }}

</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partialCached "footer" . }}
